{template 'common/header'}
<div class='container' style='padding:0 5px 10px;margin:0;width:100%'>
    <ul class="nav nav-tabs">
        <li {if $operation=='post' && empty($id)}class="active"{/if}> <a href="{php echo $this->createWebUrl('news', array('op' => 'post'));}">添加公告</a></li>
        <li {if $operation=='display'}class="active"{/if}><a href="{php echo $this->createWebUrl('news',array('op'=>'display'));}">管理公告</a></li>
        {if !empty($id) && $operation == 'post'}
        <li class="active"> <a href="{php echo $this->createWebUrl('news',array('op'=>'post','id'=>$id));}">编辑公告</a></li>
        {/if}
    </ul>

    {if $operation =='display'}
    <div style="padding:15px;">
        <form id="form2" class="form-horizontal" method="post">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th style="width:10%; text-align:center;">显示顺序</th>
                    <th class="col-md-2">标题</th>
                    <th class="col-md-2">状态</th>
                    <th class="col-md-3">操作</th>
                </tr>
                </thead>
                <tbody>
                {loop $list $v}
                <tr>
                    <td class="text-center">
                        <input type="text" class="form-control" name="displayorder[{$v['id']}]" value="{$v['num']}">
                    </td>
                    <td class="text-left"> {$v['title']} </td>
                    <td class="text-left"> {if $v['status']==1} 启用{elseif $v['status']==2}禁用{/if}</td>
                    <td>
                        <a href="{php echo $this->createWebUrl('news', array('op' => 'post', 'id' => $v['id']))}" title="编辑公告" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit"></i></a>
                        <a onclick="return confirm('此操作不可恢复，确认吗？'); return false;"
                           href="{php echo $this->createWebUrl('news', array('id' => $v['id'],'op'=>'del'))}" title="删除"
                           class="btn btn-default btn-sm"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                {/loop}
                </tbody>
            </table>
            {$pager}
            <div class="form-group col-sm-12">
                <input name="submit" type="submit" class="btn btn-primary col-lg-1" value="更新排序">
                <input type="hidden" name="token" value="{$_W['token']}"/>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        require(['bootstrap'], function ($) {
            $('.btn').hover(function () {
                $(this).tooltip('show');
            }, function () {
                $(this).tooltip('hide');
            });
        });

    </script>
    {elseif $operation == 'post'}
    <div class="main">
        <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit="return validate(this);">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {if !empty($id)&&$op == 'post'}编辑{else}添加{/if}公告
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">排序</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" name="displayorder" class="form-control" value="{$item['num']}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                            <span style='color:red'>*</span>名称</label>
                        <div class="col-sm-9">
                            <input type="text" name="title" id="title" class="form-control" value="{$item['title']}"/>
                        </div>
                    </div>

                    <div class="form-group price" >
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">详情</label>
                        <div class="col-sm-8 col-xs-12">
                            <div class="input-group">
                                {php echo tpl_ueditor('details', $item['details']);}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否禁用</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input type="radio" name="status" value="1" {if $item['status']==1 || empty($item['status'])}checked{/if} />启用
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" value="2" {if $item['status']==2}checked{/if} />禁用
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                        <div class="col-sm-4">
                            <input type="hidden" name="id" value="{$item[id]}">
                            <input type="hidden" name="token" value="{$_W['token']}"/>
                            <input name="submit" type="submit" value="提交" class="btn btn-primary span3"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {/if}
</div>