{template 'common/header'}
<div class='container' style='padding:0 5px 10px;margin:0;width:100%'>
    <ul class="nav nav-tabs">
        <li {if $op=='post' && empty($id)}class="active"{/if}> <a href="{php echo $this->createWebUrl('types', array('op' => 'post'));}">添加分类</a></li>
        <li {if $op=='display'}class="active"{/if}><a href="{php echo $this->createWebUrl('types',array('op'=>'display'));}">管理分类</a></li>
        {if !empty($id) && $op == 'post'}
        <li class="active"> <a href="{php echo $this->createWebUrl('types',array('op'=>'post','id'=>$id));}">编辑分类 </a></li>
        {/if}
    </ul>

    {if $op =='display'}
    <div style="padding:15px;">
        <form id="form2" class="form-horizontal" method="post">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th style="width:10%; text-align:center;">显示顺序</th>
                    <th style="width:45%;">分类名称</th>
                    <td class="col-md-2">图标</td>
                    <th style="width:30%;">操作</th>
                </tr>
                </thead>
                <tbody>
                {loop $list $v}
                <tr>
                    <td class="text-center">
                        <input type="text" class="form-control" name="displayorder[{$v['id']}]" value="{$v['displayorder']}">
                    </td>

                    <td class="text-left">
                        <div style="">
                        {$v['name']}
                        {if empty($v['parentid'])}
                        <a href="{php echo $this->createWebUrl('types',array('op'=>'post','parentid'=>$v['id']));}" class="btn btn-default btn-sm" title="添加子分类">
                            <i class="fa fa-plus">添加子分类</i>
                        </a>
                        {/if}
                        </div>
                    </td>
                    <td>
                        <img style="width: 50px;height: 50px;" src="{php echo tomedia($v['thumb'])}" alt=""/>
                    </td>
                    <td>
                        <a href="{php echo $this->createWebUrl('types', array('op' => 'post', 'id' => $v['id']))}" title="编辑分类" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit"></i></a>
                        <a onclick="return confirm('此操作不可恢复，确认吗？'); return false;"
                           href="{php echo $this->createWebUrl('types', array('id' => $v['id'],'op'=>'del'))}" title="删除"
                           class="btn btn-default btn-sm"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                {loop $children[$v['id']] $row}
                <tr class="opt_{$v['id']}">
                    <td class="text-center"><input type="text" class="form-control" name="displayorder[{$row['id']}]" value="{$row['displayorder']}">
                    </td>
                    <td class="text-left">
                        <div style="padding-left:50px;height:30px;line-height:30px;background:url('./resource/images/bg-repno.gif') no-repeat -245px -545px;">
                            {$row['name']}&nbsp;&nbsp; {if empty($row['parentid'])}
                            <a href="{php echo url('types', array('op' => 'post', 'parentid' => $row['parentid']))}"> <i class="fa fa-plus" title="添加子分类"></i></a>
                            {/if}
                        </div>
                    </td>
                    <td>
                        <img style="width: 60px;height: 60px;" src="{php echo tomedia($row['thumb'])}" alt=""/>
                    </td>
                    <td style="width:20%;text-align:right;">
                        <a href="{php echo $this->createWebUrl('types', array('op' => 'post', 'parentid' =>$row['parentid'], 'id' => $row['id']))}"
                           title="编辑" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit">编辑</i></a>
                        <a href="{php echo $this->createWebUrl('types', array('op' => 'del', 'id' => $row['id']))}" onclick="return confirm('确认删除此分类吗,会连带删除分类下面的关联电话？');return false;" title="删除" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i
                                class="fa fa-times">删除</i></a>
                    </td>
                </tr>
                {/loop}

                {/loop}
                </tbody>
            </table>
            <div class="form-group col-sm-12">
                <input name="submit" type="submit" class="btn btn-primary col-lg-1" value="更新排序">
                <input type="hidden" name="token" value="{$_W['token']}"/>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        require(['bootstrap'], function ($) {
            $('.btn').hover(function () {
                $(this).tooltip('show');
            }, function () {
                $(this).tooltip('hide');
            });
        });

    </script>
    {elseif $op == 'post'}
    <div class="main">
        <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit="return validate(this);">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {if !empty($id)&&$op == 'post'}编辑{else}添加{/if}分类
                </div>
                <div class="panel-body">
                    {if !empty($parentid)}
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">上级分类</label>
                        <div class="col-sm-8 col-xs-12">
                            <div class="form-control-static">{$parent['name']}</div>
                        </div>
                    </div>
                    {/if}
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">排序</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" name="displayorder" class="form-control" value="{$item['displayorder']}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>分类名称</label>

                        <div class="col-sm-9">
                            <input type="text" name="title" id="title" class="form-control" value="{$item['name']}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类图片</label>
                        <div class="col-sm-9 col-xs-12">
                            {php echo tpl_form_field_image('thumb', $item['thumb']);}
                            <span class="help-block m-b-none">尺寸：80rpx*80rpx，大小30kb以下，建议png图片</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                        <div class="col-sm-4">
                            <input type="hidden" name="id" value="{$item[id]}">
                            <input type="hidden" name="token" value="{$_W['token']}"/>
                            <input name="submit" type="submit" value="提交" class="btn btn-primary span3"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {/if}
</div>